* {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    padding: 20px 15%;
    height: 104px;
    width: 100%;
    background-color: #fff;
}

.page-text {
    display: flex;
    box-sizing: border-box;
    font-size: 14px;
}

.first-page {
    color: #a0a6a9;
}

.now-page {
    color: #3d4245;
}

.header-text {
    font-size: 16px;
    color: #3d4245;
}