.text-store {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0px 16px 16px;
    font-size: 16px;
} 

.headText-store {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.p-text-store {
    margin-right: 5px;
    color: #787f83;
}

.des-text-store {
    font-size: 18px;
    font-weight: 600;
    color: #3d4245;
}

.rev-text-store {
    font-size: 14px;
}

.sta-text-store {
    font-size: 18px;
    font-weight: 600;
    color: green;
}